<html>
    <head>
        <title>Doctors registration page</title>

    </head>

    <body>
        <form method ="POST" action = "/display">
            <p>Name</p>
            <input id="name" type = 'text' name = 'Name'/>
            <br>
            <p>Department</p>
            <input id = "dep" type = 'text' name = 'Department'/>
            <br>
            <p>Available Days</p>
            <input id = "mon" type = 'checkbox' name = 'Days' value ='MON'> Monday </input>
            <input id = "tue" type = 'checkbox' name = 'Days' value ='TUE'> Tuesday </input>
            <input id = "wed" type = 'checkbox' name = 'Days' value ='WED'> Wednesday </input>
            <input id = "thur" type = 'checkbox' name = 'Days' value ='THUR'> Thursday </input>
            <input id = "fri" type = 'checkbox' name = 'Days' value ='FRI'> Friday </input>
            <br>
            <br>
            <button type ="submit"> Submit </button>


        </form>
    </body>
    
</html>